.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  color: wheat;
}

.control input,
.control textarea {
  display: block;
  width: auto;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid black;
}
form{
  width: 220px;
  margin: auto;
}
.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #92899c;
}